<!-- NAVBAR -->

<nav class="fixed-top navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <div class="container">
        <a routerLink="" class="font-weight-bolder text-dark h4 text-decoration-none my-auto mr-3">PORTFOLIO</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto text-uppercase">
                <a routerLink="" class="nav-item nav-link">Home</a>
                <a routerLink="/about" class="nav-item nav-link">About</a>
            </div>					
        </div>
    </div>
</nav>

<div class="mt-5">&nbsp;</div>


<section class="container">
    <router-outlet></router-outlet>
</section>


<footer class="bg-light text-dark py-1 fixed-bottom" th:fragement="footer">
    <div class="small text-center">&copy; Portfolio</div>
</footer>